<div class="panel-header">
  {{#if showBackButton}}
  <div class="pull-left panel-back-arrow" {{action 'onClickBackButton'}}>
    {{app-icon name="ic_arrow_back"}}
  </div>
  {{/if}}
  {{#if title}}
    <div class="pull-left panel-title">
      <span>{{title}}</span>
    </div>
  {{/if}}
  {{#if localizeTitle}}
  <div class="pull-left panel-title">
    <span>{{t localizeTitle}}</span>
  </div>
  {{/if}}
</div>
<div class="panel-body">
  {{yield}}
</div>
