<div class="container">
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      {{#each menuItems as |item index|}}
      {{#if (has-access 'menu' item)}}
        <li role="presentation" class="{{if (eq index activeMenuIndex) "active"}} {{item}}-menu">
          <a href="#{{item}}" aria-controls="{{item}}" role="tab" data-toggle="tab" {{action (optional (unless (eq item 'research') (action 'onMenuItemSelection' item) null))}}>{{item}}</a>
          {{#if (eq item 'research')}}
              <div class="research-container">
                  <ul>
                    <li {{action 'onMenuItemSelection' item}}>Projects</li>
                    <li>Data</li>
                  </ul>
              </div>
          {{/if}}
        </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
