<div class="pull-out-less-content-container pull-left">
  {{#if isLoading}}
    {{three-bounce-spinner}}
  {{else}}
    <header class="pull-out-header">
      <div class=header-content>
        <div class="info pull-left">
          <div class="title">{{title}}</div>
          <div class="description">{{description}}</div>
        </div>
        <div class="action pull-right">
          {{#if showMore}}
            <div class="more-info pull-left" {{action 'showMoreInfo'}}>
              {{app-icon name='ic_info_outline'}}
              <div>More</div>
            </div>
          {{/if}}
          {{#if showLess}}
            <div class="less-info pull-left" {{action 'showLessInfo'}}>
              {{app-icon name='ic_arrow_forward'}}
              <div>Less</div>
            </div>
          {{/if}}
          <div class="close-info pull-right" {{action 'onPullOutClose'}}>
            {{app-icon name='ic_close'}}
            <div>Close</div>
          </div>
        </div>
      </div>
    </header>
    {{#if competency}}
      <div class="learner-competency">
        <div class="competency-text">
          <span class="text">{{competency.status}}</span>
          <span class="date">Earned on {{competency.date}}</span>
        </div>
        <div class="icons">
          <span class="{{competency.status}}"> <i> </i></span>
        </div>
      </div>
      <div class="competency-description">
        <div class="text">
        <span> when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
           remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
           containing</span>
         </div>
      </div>
    {{/if}}
  {{/if}}
  <div class="pull-out-content">
    {{yield lessContent}}
  </div>
  <footer class="pull-out-footer">
    <!-- TO-DO -->
  </footer>
</div>
<div class="pull-out-more-content-container pull-left">
  {{yield moreContent}}
</div>
