<div class="cardGroup">
  <div class="card ">
    <div class="cardGroupBody">
      <div class="courses">
        <i class="icon"> </i>
      </div>
      <div class="countText">{{contentCount.courceCount}}</div>
    </div>
  </div>
  <div class="card">
    <div class="cardGroupBody">
      <div class="assesments">
        <i class="icon"> </i>
      </div>
      <div class="countText">{{contentCount.assessmentCount}}</div>
    </div>
  </div>
  <div class="card">
    <div class="cardGroupBody">
      <div class="collections">
        <i class="icon"> </i>
      </div>
      <div class="countText">{{contentCount.collectionCount}}</div>
    </div>
  </div>
</div>
<div class="cardGroup">
  <div class="card">
    <div class="cardGroupBody">
      <div class="resources">
        <i class="icon"> </i>
      </div>
      <div class="countText">{{contentCount.resourceCount}}</div>
    </div>
  </div>
  <div class="card">
    <div class="cardGroupBody">
      <div class="questions">
        <i class="icon"> </i>
      </div>
      <div class="countText">{{contentCount.questionCount}}</div>
    </div>
  </div>
  <div class="card">
    <div class="cardGroupBody">
      <div class="rubrics">
        <i class="icon"> </i>
      </div>
      <div class="countText">{{contentCount.rubricCount}}</div>
    </div>
  </div>
</div>
