<div class="parent-bredkcrumb">{{breadcrumb}}</div>
{{#if nodeDescription}}
  <div class="standard-description">{{nodeDescription}}</div>
{{/if}}
{{#if isLoading}}
  {{three-bounce-spinner}}
{{else}}
  {{content-display-count contentCountData=contentCountData}}
  {{charts.study-count-chart}}
  {{popular-providers }}
  {{signature-assessments}}
  {{signature-collections}}

{{/if}}
