<div class="competency-container-matrix {{if showPullOut 'pull-out-active'}}">
  <div class="matrix-left-panel">
    {{charts.course-domain-matrix-chart userId=userId  subjectId=selectedSubject.id selectedSubject=selectedSubject onChooseDomain='onChooseDomain' domainCompetencyPullOut='domainCompetencyPullOut' showPullOut=showPullOut isSkylineEnabled=isSkylineEnabled}}
    <div class="matrix-left-panel-nav-1"></div>
    <div class="matrix-left-panel-nav-2"></div>
    <div class="matrix-left-panel-nav-3"></div>
  </div>
  <div class="matrix-right-panel">
    <ul>
      {{#each subjects as |subject index|}}
        <li {{action 'onChooseSubject' index}}>
          <div  class="subject-{{index}} subject-name {{if (eq index 0) 'active'}}">{{subject.title}}</div>
          <div class="subject-{{index}} subject-round-icon {{if (eq index 0) 'active'}}"></div>
        </li>
      {{/each}}
    </ul>
  </div>

  {{#app-pull-out showPullOut=showPullOut title=selectedDomainData.code description=selectedDomainData.name  showMore=showMore as |section| }}
    {{#if section.isLessContent}}
      {{gcm-pull-out-body
       contentCountData=contentCount
       isLoading=isLoading
       nodeData=selectedDomainData
       breadcrumb=selectedDomainData.parent
      }}
    {{/if}}
  {{/app-pull-out}}

</div>
