<div class="competency-container-matrix">
  <div class="matrix-left-panel">
    {{charts.course-domain-matrix-chart userId=userId  subjectId=selectedSubject.id onCompetencyPullOut='onCompetencyPullOut' showPullOut=showPullOut isSkylineEnabled=isSkylineEnabled}}
    <div class="matrix-left-panel-nav-1"></div>
    <div class="matrix-left-panel-nav-2"></div>
    <div class="matrix-left-panel-nav-3"></div>
  </div>
  <div class="matrix-right-panel">
    <ul>
      {{#each subjects as |subject index|}}
        <li {{action 'onChooseSubject' index}}>
          <div  class="subject-{{index}} subject-name {{if (eq index 0) 'active'}}">{{subject.title}}</div>
          <div class="subject-{{index}} subject-round-icon {{if (eq index 0) 'active'}}"></div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
