<div class="competency-items" role="tab" id="{{elementId}}-heading">
  <div class="{{data.type}}">
    <i class="icon"></i>
  </div>

  <div class="panel-title">
    <a class="collapsed title" role="button" data-toggle="collapse" href="#{{elementId}}-content" aria-expanded="false" aria-controls="{{elementId}}-content" {{action "selectCompetencyItems" model.id}}>
      <div class="title ellipsis"> {{data.assessmentName}} </div>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>
  </div>
  <div class="panel-info">
    <span class="status"> {{data.score}}%</span>
    <span class="time"> {{data.time}}</span>
  </div>

</div>

<div id="{{elementId}}-content" data-index="{{componentIndex}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{elementId}}-heading">
  <div class="panel-body">
    <ol class="panel-group" role="tablist" aria-multiselectable="true">
      {{#if loading}}
        {{three-bounce-spinner}}
      {{else}}
        {{#each data.assessmentDetails as | item |}}
          <div class="{{item.resourceName}}">
            <i></i>
          </div>
          <div class="items">
            <span> {{item.questions}}</span>

            <div class="panel-info">
              <div class="{{item.answer}}"><i> </i></div>
              <span class="time"> {{item.time}}</span>
            </div>

          </div>
        {{/each}}
      {{/if}}
    </ol>
  </div>
</div>
