<div class="competency" role="tab" id="{{elementId}}-heading">

  <div class="panel-title">
    <a class="collapsed title" role="button" data-toggle="collapse" href="#{{elementId}}-content" aria-expanded="false" aria-controls="{{elementId}}-content" {{action "selectCompetency" model.id}}>
      <div class="title ellipsis"> {{data.name}} </div>
      <div class="sub-title ellipsis"> {{data.coursename}} </div>
    </a>
  </div>
  <div class="panel-info">
    <span class="status"> {{data.status}}</span>
    <div class="time">
      <span class="{{data.status}}"> <i> </i></span>

    </div>
  </div>
</div>

<div id="{{elementId}}-content" data-index="{{componentIndex}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{elementId}}-heading">

  <!-- <div class="panel-body"> -->
  <ol class="panel-group" role="tablist" aria-multiselectable="true">
    {{#if loading}}
      {{three-bounce-spinner}}
    {{else}}
      {{#each courseCollections as | items |}}
        {{learners.accordion-summary-items data=items}}
      {{/each}}
    {{/if}}
  </ol>
  <!-- </div> -->
</div>
