<div class="table-responsive">
  <div class="crosswalk-subject">
    {{t (concat 'common.categoryOptions.' categoryId)}} > {{subjectTitle}}
    <span {{action "scrollTop"}}><i class="material-icons">arrow_upward</i></span>
  </div>
  <div class="thead">
    {{#each tableData.header as |header|}}
      <div class="td">
        {{header}}
      </div>
    {{/each}}
  </div>
  <div class="table-structure">
    <table class="table crosswalk-data" id="crosswalk-data">
      <tbody>
        {{#each tableData.body as |tableRow|}}
          <tr>
            {{#each tableRow as |tableBody|}}
              <td>
                <div class="id">{{tableBody.id}}</div>
                <div class="title">{{tableBody.title}}</div>
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
