<div class="comparative-search-container">
  <div class="comaparative-search-header">
      {{activities.comparative-search-box backToCatalog="backToCatalog" onSelectGrade="onSelectGrade" onSearchTerms = "onSearchTerms"}}
  </div>
  <div class="comparative-search-section">
      <div class="comparative-search-engine-list">
          <div class="engine-logo google-search-engine {{unless bingSearchContent.length 'no-search-content' ''}}">

          </div>
          <div class="engine-logo bing-search-engine {{unless googleSearchContent.length 'no-search-content' ''}}">

          </div>
          <div class="engine-logo gooru-search-engine {{unless gooruSearchContent.maxTotalHitCount 'no-search-content' ''}}">

          </div>
      </div>
      <div class="comparative-search-content {{unless (or bingSearchContent.length googleSearchContent.length gooruSearchContent.maxTotalHitCount) 'no-search-content' ''}}">
        {{#if (or bingSearchContent.length googleSearchContent.length gooruSearchContent.maxTotalHitCount)}}
          {{#if googleSearchContent.length}}
              {{activities.comparative-search-card isLoading= isLoading paginateNext="paginateNext" searchCardName='google' searchContent = googleSearchContent}}
          {{/if}}
          {{#if bingSearchContent.length}}
              {{activities.comparative-search-card isLoading= isLoading paginateNext="paginateNext" searchCardName='bing' searchContent = bingSearchContent}}
          {{/if}}
          {{#if gooruSearchContent.maxTotalHitCount}}
             {{activities.comparative-gooru-search-card isLoading= isLoading paginateNext="paginateNext" activityContents = gooruSearchContent}}
          {{/if}}

        {{else}}
          <div class="no-content">
              {{t 'activities.no-search-result'}}
          </div>
        {{/if}}
      </div>
  </div>
</div>
