<div>
  <div class="author">
    <span class="title">  {{t "common.created-by" }} </span>
    <img class="img-responsive" src="{{collection.owner.thumbnail}}">
    <span class="owner">{{collection.owner.username}}</span>
    <span class="date">on {{format-date collection.publish_date 'DD MMMM, YYYY'}}</span>
  </div>

  <div class="collection-info">
    <span class="title"> {{collection.title}}</span>
    {{#if (eq collection.type "resource" )}}
      <div class="resource-info">
        <div class="resources-icon">
          <div class="{{collection.content_subformat}}"> <i> </i> </div>
        </div>
        <div class="discription"> {{collection.description}} </div>
      </div>
    {{else}}
      <div class="header-info">
        <div class="collection-image">
          <img class="img-responsive" src="http://cdn.gooru.org/22be8198-5182-47c0-a82d-41ddcfdcd02a.png">
        </div>
        <div class="discription"> {{collection.description}} </div>
      </div>
    {{/if}}
  </div>


  <div class="subject">
    <div class="header"> {{t "common.subject"}}</div>
    {{#each collection.info.gooru_subject as | subject |}}
      <div class="items">
        <div class="subect-item">
          <span>{{subject}} </span>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="course">
    <div class="header"> {{t "common.course"}}</div>
    {{#each collection.info.gooru_course as | course |}}
      <div class="items">
        <div class="course-item">
          <span>{{course}} </span>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="domain">
    <div class="header"> {{t "common.domain"}}</div>
    <div class="items">
      <div class="domain-item">
        <span>{{collection.info.domain.attribution}} </span>
      </div>
    </div>
  </div>
</div>
