<div class="competency" role="tab" id="{{elementId}}-heading">

  <div class="panel-title">
    <a class="collapsed title" role="button" data-toggle="collapse" href="#{{elementId}}-content" aria-expanded="false" aria-controls="{{elementId}}-content" {{action "selectCompetency" model.id}}>
      <div class="title ellipsis"> Unit Name</div>
    </a>
  </div>
  <div class="panel-info">
    <span class="status"> In Progress</span>
    <span class="time"> Time</span>
  </div>
</div>

<div id="{{elementId}}-content"
 data-index="{{componentIndex}}"
 class="panel-collapse collapse"
 role="tabpanel" aria-labelledby="{{elementId}}-heading">

  <div class="panel-body">
    <ol class="panel-group" role="tablist" aria-multiselectable="true">
      {{#if loading}}
        {{three-bounce-spinner}}
      {{else}}
        {{learner.course-summary-accordion-items}}
      {{/if}}
    </ol>
  </div>
</div>
