<div class="collection-content">
  <div class="collection-header">
    <div class="{{collection.collectionType}}">
      <i class="icon"></i>
    </div>
    <div class="collection-info">
      <div class="title">
        <div class="clickable" {{action "onClickCollectionTitle" collection.id collection.collectionType}}>
          <div class="title-text">
            {{collection.title}}
          </div>
          <div class="arrow-icon">
            {{#if isExpanded}}
              {{app-icon name="arrow_drop_up"}}
            {{else}}
              {{app-icon name="arrow_drop_down"}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="collection-status">
        <div class="status">
          80%
        </div>
        <div class="time">
          {{collectionTimespent}}
        </div>
      </div>
    </div>
  </div>
  <div class="collection-body">
    {{#if isLoading}}
      {{three-bounce-spinner}}
    {{else}}
      {{#each resources as |resource|}}
        <div class="resource-content">
          <div class="resource-header">
            <div class="{{if (eq resource.type 'question') 'question' resource.contentType}}">
              <i class="icon"></i>
            </div>
            <div class="resource-info">
              <div class="title">
                <div class="title-text">
                  {{resource.title}}
                </div>
              </div>
              <div class="resource-report">
                <div class="answer">
                  <span class="{{resource.answer}}"><i class="icon"></i></span>
                </div>
                <div class="time">
                  Time
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>
