<div class="learner-menu-container">
  <div class="row">
    <ul class="learner-nav learner-nav-tabs" role="tablist">
      {{#each menuItems as |item index|}}
        <li role="presentation" class="{{if (eq index activeMenuIndex) "active"}}">
          <a href="#{{item.value}}" aria-controls="{{item.value}}" role="tab" data-toggle="tab" {{action "onMenuItemSelection" item}}>{{t item.label}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
