<!--
{{taxonomy-category onChooseCategory='onChooseCategory'}}
-->
<div class="subject-navigation-chart">
  <div class="subject-navigation-arrow subject-left-navigation-arrow pull-left" {{action 'onLeftArrowClick'}}>{{app-icon name="ic_keyboard_arrow_left"}}</div>
  <div class=" subject-navigation-arrow subject-right-navigation-arrow pull-right" {{action 'onRightArrowClick'}}>{{app-icon name="ic_keyboard_arrow_right"}}</div>
  <div class="subject-list">
    <ul class="nav nav-tabs">
      {{#each taxonomySubjects as | subject index|}}
        <li class="{{if (eq index 0) 'active' ''}}" role="presentation" {{action 'onChooseSubject' subject}}><a href="#{{subject.id}}" aria-controls="{{subject.title}}" role="tab" data-toggle="tab">{{subject.title}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
{{#if isLoading}}
  {{three-bounce-spinner}}
{{/if}}
<div class="competency-chart-tab-container">
  <div class="competency-courses-chart">
    <div class="courses pull-left">
      <ul>
        {{#each taxonomyDomains as |taxonomyDomain index |}}
          <li style="height:{{if (not taxonomyCourse.heightOfCourseTitleContainer) '50' taxonomyCourse.heightOfCourseTitleContainer}}px">
           {{taxonomyDomain.domainSeq}}.  {{taxonomyDomain.domainName}}
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="pull-left matrix-chart-container">
      <div id="competency-matrix-domain-chart"></div>
      <div class="domain-list" style="width:{{domainWidth}}px">
      {{#each taxonomyDomains as |taxonomyDomain index |}}
        <li class="domain-counts">
         {{taxonomyDomain.domainSeq}}
        </li>
      {{/each}}
    </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
