<div class="learner-index">

  <div class="courses-independent-journey report-panel">
    {{#app-panel-box localizeTitle="learner.courses-independent-journeys" }}
      <div class="report-panel-body" {{action 'onExploreJourneyTaken'}}>
        {{charts.courses-independent-journey data=userJourneyStats}} {{learner.explore-button}}
      </div>
    {{/app-panel-box}}

  </div>
  <div class="competencies report-panel">
    {{#app-panel-box localizeTitle="learner.competencies" }}
      <div class="report-panel-body" {{action 'onExploreCompetencies'}}>
        {{charts.competencies-chart data=competenciesData}} {{learner.explore-button}}
      </div>
    {{/app-panel-box}}
  </div>
  <div class="time-spent-activities report-panel">
    {{#app-panel-box localizeTitle="learner.time-spent-activities" }}
      <div class="report-panel-body">
        {{charts.time-spent-activities data=userTimeSpentStats}} {{learner.explore-button routeTo="activities" onClickExploreButton="onClickExploreButton"}}
      </div>
    {{/app-panel-box}}
  </div>
  <div class="time-spent-courses report-panel">
    <div class="report-panel-body">
      {{#app-panel-box localizeTitle="learner.time-spent-courses" }}
        {{charts.time-spent-courses data=userStatsByCourse userId=userId}} {{learner.explore-button routeTo="courses" onClickExploreButton="onClickExploreButton"}}
      {{/app-panel-box}}
    </div>
  </div>
</div>
