<div class="activity">
  <div class="wrapper">
    {{#if (or (not isComparativeSearch) hasSearchAccess)}}
    {{#if (has-access 'page' permissionList.catalogSearchFilter)}}
    {{activities.search-box onComparativeSearch="onComparativeSearch" onShowDropDown="onShowDropDown" selectedFilterItems=selectedFilterItems onChangeFilterItems="onChangeFilterItems" onSearch='onSearch' searchStatus='searchStatus' clearSearchText='clearSearchText' term=searchTerm onEmptyFilters="onEmptyFilters" curMenuItem=curMenuItem}}
    <div class="filters pull-left">
      <div class="filter-list">
        {{activities.activities-filter onCloseToggle="onShowDropDown" toggleClearSearch=toggleClearSearch filterTypes=filterTypes onChangeFilterItems="onChangeFilterItems" clearFilter='clearFilter' isEmptyFilters=isEmptyFilters}}
      </div>
    </div>
    <div class="activity-container pull-left">
      {{activity.menu-navigation onMenuItemSelection='onMenuItemSelection'}}
      <div class="content-container">
        {{outlet}}
      </div>
    </div>
    {{/if}}
    {{else}}
      {{activities.comparative-search backToCatalog="backToCatalog"}}
    {{/if}}
  </div>
</div>
