<div class="crosswalk">
  <header class="crosswalk-header">
    <div class="navigator">
      {{#link-to 'gcm'}}{{t 'crosswalk.switch_to_gcm'}}{{/link-to}}
    </div>
    <div class="title">
        {{t "crosswalk.title"}}
    </div>
  </header>
  <div class="crosswalk-body">
    <div class="section-title">
      <span class="title">{{t 'crosswalk.browser-level.category'}}, </span>
      <span class="title">{{t 'crosswalk.browser-level.subject'}}, </span>
      <span class="title">{{t 'crosswalk.browser-level.framework'}}</span>
    </div>
    {{crosswalk.app-subject-browser getSelectedValues="getSelectedValues"}}
  </div>
</div>
