<div class="gcm">
  <header class="gcm-header">
    <div class="navigator">
      {{#link-to 'crosswalk'}}{{t 'gcm.switch_to_crosswalk'}}{{/link-to}}
    </div>
    <div class="title">
        {{t "gcm.title"}}
    </div>
  </header>
  {{taxonomy-tree-view data=taxonomyTreeViewData onClickNodeMoreInfo="onClickNodeMoreInfo" onClickNode='onClickTaxonomyNode'}}
  {{#app-pull-out showPullOut=showPullOut title=nodeData.code  description=nodeData.name showMore=isCompetencyNode  as |section| }}
    {{#if section.isLessContent}}
      {{gcm-pull-out-body contentCountData=contentCount isLoading=isLoading nodeData=nodeData breadcrumb=nodeData.parent nodeDescription=nodeData.description}}
    {{else if section.isMoreContent}}

    {{/if}}
  {{/app-pull-out}}
</div>
