<div class="learner">
  <div class="user-profile-container">
    <div class="user-profile-box">
      <div class="user-profile-back-arrow" {{action 'onClickBackButton'}}>
        {{app-icon name="ic_arrow_back"}}
      </div>
    </div>
    <div class="user-profile-info">
      <div class="profile">
        <span class="username pull-left">jwgooru</span>
        <div class="img-container pull-left" {{action 'onClickProfileInfo'}}>
          <img class="img-responsive" src="//dev-user-gooru-org.s3-us-west-1.amazonaws.com/d0caf3ef-55c3-444a-83de-a8dd6498c6db.jpg">
        </div>
        <span class="username pull-left">jwgooru</span>
      </div>
    </div>
  </div>
  {{learner.time-period-filter}} {{outlet}}
</div>
